<section class="details-card">
  <div class="container">
    <div class="row">
      <% @documents.each do |doc| %>
        <div class="col-md-3">
          <div class="card-content">
            <% if doc.docfile.content_type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document"%>
              <div class="card-img">
                <img src="/images/doc_icon.png" alt="rss feed">
              </div>
            <% else if doc.docfile.content_type == "application/pdf"-%>
              <div class="card-img">
                <img src="/images/pdf_icon.png" alt="rss feed">
              </div>
            <% end -%>
            <% end -%>
            <div class="card-desc">
              <h3><%= doc.name %></h3>
              <a><%= link_to 'Ver documento', doc, class: "btn-card" %></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
