<div>


<% if professor_signed_in? %>
    <div><p></p></div>
    <header class="masthead bg-light text-white text-center w-100 p-3">
      <div><p></p></div>
      <div class="container w-100 p-3">
        <div><p></p></div>
        <img class="img-fluid mb-5 d-block mx-auto" img src="../images/sign_up.png" alt="">
        <h1 class="text-uppercase mb-0 text-dark">BIENVENIDO A FEIDOCS</h1>
        <hr class="star-light">
      </div>
    </header>

  <%else %>
<!-- Header -->
    <div><p></p></div>
<header class="masthead bg-light text-white text-center w-100 p-3">
  <div><p></p></div>
  <div class="container w-100 p-3">
    <div><p></p></div>
    <img class="img-fluid mb-5 d-block mx-auto" img src="../images/sign_up.png" alt="">
    <h1 class="text-uppercase mb-0 text-dark">Bienvenido a Feidocs</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0 text-secondary">Una plataforma para que los académicos de la UV compartan documentos certificados con sus colegas.</h2>
  </div>
</header>
<% end %>
  </div>