<div class="container">
  <%begin %>
  <h2 class="col-md-12"><%= @document.name %></h2>
  <% if @document.docfile.content_type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document"%>
      <div class="field">
        <%require 'docx'
        d = Docx::Document.open(@pathdocument)
            d.each_paragraph do |p| %>
         <p> <%= p %></p>
           <% end %>
      </div>
  <% else if @document.docfile.content_type == "application/pdf"-%>
      <div class="card-img">
        <iframe src=<%= url_for(@document.docfile) %> class="col-md-12"> </iframe>
      </div>
    <% end -%>
  <%end %>
    <%rescue%>
     <p>Error al cargar el documento</p>
    <%end%>
</div>
