<%= stylesheet_link_tag "modal" %>

<!-- Tarjetas de documentos -->
<section class="details-card">
  <div class="container">
    <div class="row">
      <% @documents.each do |document| %>

        <!-- Información, imagen y botones -->
        <div class="col-md-3">
          <div class="card-content">
            <% if document.docfile.content_type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document"%>
              <div class="card-img">
                <img src="../images/doc_Icon.png" alt="rss feed">
              </div>
            <% else if document.docfile.content_type == "application/pdf"-%>
                <div class="card-img">
                  <img src="../images/pdf_Icon.png" alt="rss feed">
                </div>
              <% end -%>
            <% end -%>
            <div class="card-desc">
              <h3><%= document.name %></h3>
              <a><%= link_to 'Visualizar', document_shared_path(document.id), class: "btn-card" %></a>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</section>